body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #ff7043, #3e0000);
    color: #fff;
    height: 100%;
    overflow-x: hidden;
}


header {
    /* background: linear-gradient(135deg, #ff7043, #d43f00); */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Aligns items to the start (left for column direction) */
    flex-direction: column;  /* Stack items vertically */
    padding-left: 20px;      /* Adds some spacing from the left edge */
}


.intro-greeting {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 5px;
}

.intro-name {
    font-size: 50px;
    font-weight: bold;
    color: gold;  /* Change the color to gold */
    margin-bottom: 10px;
}

.intro-description {
    font-size: 28px;
    color: #ffffff;
    margin-bottom: 15px;
}

.intro-detail {
    font-size: 18px;
    color: #ffffff;
    max-width: 600px;
}

h1, h2, h3 {
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 15px;
}

p, li {
    font-weight: 300;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;        /* Make navbar fixed */
    top: 10px;              /* Place navbar 10px from the top */
    right: 10px;            /* Place navbar 10px from the right */
    flex-direction: column;
    align-items: flex-end;
    z-index: 1001;          /* Ensure it's above other content */
    border-radius: 8px;     /* Optional: to give the container rounded corners */
    transition: transform 1s ease;
}

.hide-navbar {
    transform: translateX(100%); /* Move the navbar to the left out of view */
}

.navbar a {
    display: block;
    color: moccasin;
    text-decoration: none;
    margin: 0 10px;
    padding: 15px 5px;
    transition: color 0.3s ease;  /* Only transition the color */
}

.navbar a:hover {
    color: #ffff00;
    background-color: transparent;
    animation: none;
}


.nav-link i {
    font-size: 20px;  /* Adjust the icon size */
    color: moccasin;  /* Icon color */
}

.nav-link:hover i {
    color: #ff7f00;  /* Change icon color on hover */
}


header {
    /* background: linear-gradient(135deg, #ff7043, #d43f00); */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Common styles for the sections you want to center */
#about, #experience, #projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Stack children vertically */
    height: 100vh;          /* Take up the full viewport height */
    padding: 20px;          /* Some padding to avoid content touching the edges */
}

.section-content {
    flex: 1;
    padding-right: 20px;
}

.section-image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}


.content-box {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#contact {
    /* background: linear-gradient(135deg, #610000, #3e0000); */
    display: flex;
    flex-direction: column;  /* Stack everything vertically */
    align-items: center;     /* Center items horizontally */
    text-align: center;      /* Center text */
    padding: 50px 0;         /* Some padding for breathing space */
}

#current-section-wrapper {
    position: relative;
}

.section-text {
    flex-direction: column;
    position: fixed;
    top: 65px;
    left: 135px;
    opacity: 0;
    transition: opacity 1s ease;
}

#current-section-1 {
    opacity: 1; /* Initially visible */
}


.section-image {
    width: 80%;
    max-width: 500px;
    margin: 20px auto;
    display: block;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.section-image:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0;
}

.section-image-container img {
    max-width: 100%;
    max-height: 300px;
}

a:hover, button:hover {
    animation: flareUp 0.5s forwards;
}

@keyframes flareUp {
    0% {
        box-shadow: none;
    }
    50% {
        box-shadow: 0 0 15px 5px #ff4500;
    }
    100% {
        box-shadow: none;
    }
}

.icon-fire {
    font-size: 24px;
    color: #ff4500;
    margin-right: 10px;
    vertical-align: middle;
}

#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
    background: transparent;
}

.social-icons {
    position: fixed;
    bottom: 25px;          /* Adjusted from 10px to 20px for more spacing from the bottom */
    left: 25px;            /* Adjusted from 10px to 20px for more spacing from the left */
    display: flex;
    flex-direction: column;
    z-index: 1001;
    padding: 10px;         /* Added padding around the container */
    border-radius: 8px;    /* Optional: Rounded corners */
}

.social-icon {
    margin-bottom: 5px;
    color: moccasin;
    text-decoration: none;
    font-size: 24px;
    transition: color 0.3s ease;
    padding: 5px;          /* Added padding for individual icons */
}

.social-icon:hover {
    color: yellow;
    animation: none;
}

.vertical-email {
    font-family: 'Press Start 2P', cursive;
    position: fixed;       /* Fixed position */
    top: 80%;              /* Centered vertically */
    right: 30px;           /* 20px from the right edge for some spacing */
    transform: translateY(-50%) rotate(-90deg);  /* Center vertically and rotate the text */
    transform-origin: right center;  /* Pivot point for the rotation */
    font-size: 10px;       /* Adjust as needed */
    color: moccasin;        /* White color for the email */
    padding: 5px 10px;     /* Some padding around the email */
    border-radius: 8px;    /* Optional: Rounded corners */
    z-index: 1001;         /* Ensure it's above other content */
}

.vertical-email:hover {
    color: yellow;
    animation: none;
}

#contact h2, #contact h3 {
    margin-bottom: 20px;    /* Space between headings and content */
}

.contact-link {
    display: inline-block;
    padding: 15px 25px;
    margin-top: 25px;
    background-color: #ff7f00;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-weight: bold;      /* Make the text bold */
    letter-spacing: 1px;    /* Space out the letters a bit */
}

.contact-link:hover {
    background-color: #ff4500;
    transform: scale(1.05);  /* Slight scaling effect on hover */
}

.contact-description {
    text-align: left;  /* Align the text to the left */
    max-width: 30%;   /* Limit the width to 60% */
    margin: 0 auto;   /* Center the paragraph if needed */
}


@keyframes burningEffect {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

header {
    /* background: linear-gradient(135deg, #ff7043, #d43f00); */
    background-size: 200% 200%;
    animation: burningEffect 5s infinite;
}


.main-container{
    position: relative;
    z-index: 0;
}

.navbar, .social-icons, .vertical-email {
    z-index: 2;
}

.progress-bar {
    position: fixed;
    top: 90px;
    left: 130px;
    width: 25%;
    height: 15px;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 1003;
    display: flex;
    align-items: center;
    clip-path: polygon(0% 0%, 95% 0%, 100% 100%, 5% 100%);

}

.progress-fill {
    height: 100%;
    width: 0%;
    background: linear-gradient(to right, mediumseagreen, rgb(218,244,19, 0.4));
    box-shadow: 0 0 10px greenyellow;
    /* background-color: rgb(218,244,19, 0.7); */
    transition: width 1s ease;
}

.debuff-icon {
    position: fixed;
    top: 50px;
    font-size: 20px;
    color: moccasin;
    transition: color 1s ease;
    margin-right: 5%;
}

/* To indicate the active section */
.debuff-icon.active {
    color: red;
}

.custom-phoenix-icon {
    top: 10px;
    position: fixed;
    display: inline-block;
    width: 150px;
    height: 150px;
    background-image: url('Source Images/phoenix_icon.png');
    background-size: cover;
    z-index: 5;
}

